﻿<div class="footer-widget">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h1 class="section-title title">About Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <address>
                        <p>Address : 123 Gegrit, London, England</p>
                        <p>Call : +1234-222-3333</p>
                        <p>Email: <a href="#">info@newspress.com</a></p>
                    </address>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h1 class="section-title title">Flickr Gallery</h1>
                    <ul>
                        <li><a href="images/post/flicker/1.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/1.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/2.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/2.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/3.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/3.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/4.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/4.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/5.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/5.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/6.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/6.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/7.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/7.jpg" alt="" /></a></li>
                        <li><a href="images/post/flicker/8.jpg" class="image-link"><img class="img-responsive" src="images/post/flicker/8.jpg" alt="" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget news-letter">
                    <h1 class="section-title title">Weekly NewsLetter</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

                    <form action="#" method="post" id="subscribe-form" name="subscribe-form">
                        <input type="text" placeholder="Your E-mail" name="email">
                        <button type="submit" name="subscribe" id="subscribe">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--/.footer-widget-->

<footer id="footer">
    <div class="footer-top">
        <div class="container text-center">
            <div class="logo-icon"><img class="img-responsive" src="images/presets/preset1/logo-icon.png" alt="" /></div>
        </div>
    </div>
    <div class="footer-menu">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Advertisement</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-widgets">
        <div class="container">
            <div class="col-sm-4">
                <div class="widget">
                    <h2>Category</h2>
                    <ul>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Politics</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">World</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Environment</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Lifestyle</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="widget">
                    <h2>Editions</h2>
                    <ul>
                        <li><a href="#">United States</a></li>
                        <li><a href="#">China</a></li>
                        <li><a href="#">India</a></li>
                        <li><a href="#">Maxico</a></li>
                        <li><a href="#">Middle East</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h2>Tag</h2>
                    <ul>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Featured</a></li>
                        <li><a href="#">World</a></li>
                        <li><a href="#">Fashion</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Environment</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Tech</a></li>
                        <li><a href="#">Movie</a></li>
                        <li><a href="#">Music</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="widget">
                    <h2>Products</h2>
                    <ul>
                        <li><a href="#">Ebook</a></li>
                        <li><a href="#">Baby Product</a></li>
                        <li><a href="#">Magazine</a></li>
                        <li><a href="#">Sports Elements</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container text-center">
            <p><a href="#">NewsPress </a>&copy; 2015 </p>
        </div>
    </div>
</footer>
