﻿<header id="navigation">
    <div class="navbar" role="banner">
        <div id="menubar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <img class="main-logo img-responsive" src="images/presets/preset1/logo.png" alt="logo">
                    </a>
                </div>
                <nav id="mainmenu" class="navbar-right collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li class="home dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Default</a></li>
                                <li><a href="index2.html">Home Style Two</a></li>
                                <li><a href="index3.html">Home Style Three</a></li>
                                <li><a href="index4.html">Home Style Four</a></li>
                                <li><a href="index5.html">Home Style Five</a></li>
                                <li><a href="index1.html">Home Style Six</a></li>
                            </ul>
                        </li>
                        <li class="business dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Business</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                            </ul>
                        </li>
                        <li class="politics dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Politics</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                                <li><a href="#">Dropdown Demo</a></li>
                            </ul>
                        </li>
                        <li class="environment dropdown mega-dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Environment</a>
                            <div class="dropdown-menu mega-menu">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h2>Template Features</h2>
                                            <ul>
                                                <li><a href="#">Multi Home Variations</a></li>
                                                <li><a href="#">Multi Color Menu</a></li>
                                                <li><a href="#">Fully Responsive</a></li>
                                                <li><a href="#">Mega Dropdown</a></li>
                                                <li><a href="#">Creative Design</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2>Included Pages</h2>
                                            <ul>
                                                <li><a href="news-details.html">News Details</a></li>
                                                <li><a href="listing.html">Category Listing</a></li>
                                                <li><a href="listing-life-style.html">Category Lifestyle</a></li>
                                                <li><a href="listing-sports.html">Category Sports</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2>Menu with image</h2>
                                            <div class="entry-thumbnail">
                                                <img class="img-responsive" src="images/post/4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <h2>Menu with video</h2>
                                            <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="world dropdown mega-cat-dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">World</a>
                            <div class="dropdown-menu mega-cat-menu">
                                <div class="container">
                                    <div class="sub-catagory">
                                        <h2 class="section-title">World</h2>
                                        <ul class="list-inline">
                                            <li><a href="#">Usa</a></li>
                                            <li><a href="#">Asia</a></li>
                                            <li><a href="#">Us</a></li>
                                            <li><a href="#">Politics</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Press</a></li>
                                            <li><a href="#">Travel</a></li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/2.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">Apple may be preparing for new Beats radio stations</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/6.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">Why is the media so afraid of Facebook?</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/3.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">Samsung Pay will support online shopping</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/5.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">The best games for your phone</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="technology dropdown mega-cat-dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Technology</a>
                            <div class="dropdown-menu mega-cat-menu">
                                <div class="container">
                                    <div class="sub-catagory">
                                        <h2 class="section-title">Technology</h2>
                                        <ul class="list-inline">
                                            <li><a href="#">Apps</a></li>
                                            <li><a href="#">Gear</a></li>
                                            <li><a href="#">Watch</a></li>
                                            <li><a href="#">Tech</a></li>
                                            <li><a href="#">Laptop</a></li>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">3D Games</a></li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/technology/6.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">Apple may be preparing for new Beats radio stations</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/technology/5.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">Why is the media so afraid of Facebook?</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/technology/4.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">Samsung Pay will support online shopping</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="post medium-post">
                                                <div class="entry-header">
                                                    <div class="entry-thumbnail">
                                                        <img class="img-responsive" src="images/post/technology/3.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="post-content">
                                                    <div class="entry-meta">
                                                        <ul class="list-inline">
                                                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2015 </a></li>
                                                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                        </ul>
                                                    </div>
                                                    <h2 class="entry-title">
                                                        <a href="news-details.html">The best games for your phone</a>
                                                    </h2>
                                                </div>
                                            </div><!--/post-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sports"><a href="listing-sports.html">Sports</a></li>
                        <li class="health"><a href="listing.html">Health</a></li>
                        <li class="entertainment"><a href="listing.html">Entertainment</a></li>
                        <li class="lifestyle"><a href="listing-life-style.html">Lifestyle</a></li>
                        <li class="more dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Pages +</a>
                            <ul class="dropdown-menu">
                                <li><a href="news-details.html">News Details</a></li>
                                <li><a href="listing.html">Category Listing</a></li>
                                <li><a href="listing-life-style.html">Category Lifestyle</a></li>
                                <li><a href="listing-sports.html">Category Sports</a></li>
                                <li><a href="404.html">404 Error</a></li>
                                <li><a href="author-listing.html">Author Listing <span class="badge">New</span></a></li>
                                <li><a href="author-details.html">Author Details <span class="badge">New</span></a></li>
                                <li><a href="about-us.html">About Us <span class="badge">New</span></a></li>
                                <li><a href="contact-us.html">Contact Us <span class="badge">New</span></a></li>
                                <li><a href="contact-us2.html">Contact Us Two <span class="badge">New</span></a></li>
                                <li><a href="signup.html">Sign Up Page<span class="badge">New</span></a></li>
                                <li><a href="signin.html">Sign In page<span class="badge">New</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header><!--/#navigation--> 
