﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <!--CSS-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/subscribe-better.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link id="preset" rel="stylesheet" type="text/css" href="~/css/presets/preset1.css">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <div id="main-wrapper" class="homepage-four">
        <partial name="_HeaderHome" />
        @RenderBody()
        <partial name="_FooterHome" />
    </div>

    <div class="style-chooser">
        <div class="style-chooser-inner">
            <a href="#" class="toggler"><i class="fa fa-life-ring fa-spin"></i></a>
            <h4>Presets Color</h4>
            <ul class="preset-list clearfix">
                <li class="preset1 active" data-preset="1"><a href="#" data-color="preset1"></a></li>
                <li class="preset2" data-preset="2"><a href="#" data-color="preset2"></a></li>
                <li class="preset3" data-preset="3"><a href="#" data-color="preset3"></a></li>
                <li class="preset4" data-preset="4"><a href="#" data-color="preset4"></a></li>
                <li class="preset5" data-preset="5"><a href="#" data-color="preset5"></a></li>
                <li class="preset6" data-preset="6"><a href="#" data-color="preset6"></a></li>
            </ul>
        </div>
    </div>
    <!--/End:Preset Style Chooser-->
    <!--/#scripts-->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.simpleWeather.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.sticky-kit.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.easy-ticker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.subscribe-better.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/switcher.js"></script>
</body>
</html>
